<head>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
    <div id="timeline-app">
        <timeline source="timeline.json"></timeline>
    </div>
    <footer>Copyright © 2018 <a href="https://alanmorel.com">Alan Morel</a></footer>
    <script type="text/template" id="timeline-template">
        <div>
            <div class="header">
                <img class="banner" :src=timeline.banner />
                <h1 class="title">{{timeline.title}}</h1>
            </div>
            <div class="timeline" :style=timelineStyles()>
                <div class="details" :style=detailsStyles()>{{timeline.details}}</div>
                <div class="events">
                    <div class="line" :style=lineStyles()></div>
                    <div class="event" :style=eventStyles() v-for="event of timeline.events">
                        <date v-bind:value="event.date"></date>
                        <h2 class="headline">{{event.headline}}</h2>
                        <img class="image" :src=event.image />
                        <p class="description">{{event.description}}</p>
                        <div v-if="event.sources.length">
                            <div class="source" v-for="source of event.sources">
                                <a :href=source.link :style=linkStyles() class="link">{{source.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="date-template">
        <h3 class="date">{{formatDate(value)}}</h3>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="javascript.js"/></script>
</body>
