@import url('https://fonts.googleapis.com/css?family=Bitter|Cardo:400,700|Lora:400,700');

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

img {
    width: 100%;
}

footer {
    padding: 2rem 0;
    background-color: black;
    text-align: center;
    color: white;
}

footer a {
    color: white;
}

.source {
    font-size: 0.8rem;
}

.header {
    display: inline-block;
    width: 100%;
    position: relative;
    max-height: 75%;
    overflow: hidden;
}

.banner {
    width: 100%;
}

.title {
    font-family: 'Cardo', serif;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    padding: 0.5rem 1rem;
    margin: 0;
    color: white;
    background: rgba(0, 0, 0, 0.75);
}

.details {
    padding: 1rem 0;
    margin-bottom: 5rem;
    font-size: 1.25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Lora', serif;
}

.timeline {
    width: 100%;
    text-align: center;
    padding-bottom: 15rem;
}

.line {
    content: '';
    position: absolute;
    left: calc(50% - 0.125rem);
    height: calc(100% + 10rem);
    width: 0.25rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.events {
    width: 100%;
    display: inline-block;
    margin: auto;
    margin-top: 0;
    max-width: 80rem;
    text-align: left;
    padding: 0 1rem;
    box-sizing: border-box;
    position: relative;
}

.event {
    width: calc(47% - 2.5rem);
    display: block;
    margin-bottom: -10rem;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event:nth-child(odd) {
    margin-left: auto;
}

.event:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -2rem;
    height: 0;
    width: 0;
    border: 1rem solid transparent;
    border-right: 1rem solid #ff8585;
}

.event:nth-child(even) {
    margin-right: auto;
}

.event:nth-child(even)::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -2rem;
    height: 0;
    width: 0;
    border: 1rem solid transparent;
    border-left: 1rem solid #ff8585;
}

.date {
    margin: 0;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    font-family: 'Lora', serif;
}

.headline {
    font-family: 'Cardo', serif;
    font-weight: bold;
    position: relative;
    margin: 0.25rem 0 0.75rem;
    font-size: 1.75rem;
}

.image {
    border-radius: 0.25rem;
}

.description {
    font-family: 'Bitter', serif;
}

.link {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 50rem) {

    .source {
        font-size: 0.6rem;
    }

    .timeline {
        padding-bottom: 2rem;
    }

    .title {
        font-size: 1.25rem;
    }

    .details {
        font-size: 1rem;
        margin-bottom: 2.5rem;
    }

    .date {
        margin: 0;
        font-size: 0.5rem;
    }

    .description {
        margin: 0.5rem 0;
        font-size: 0.75rem;
    }

    .headline {
        margin: 0.5rem 0;
        font-size: 1rem;
    }

    .image {
        border-radius: 0.5rem;
    }

    .line {
        height: 100%;
        left: 1rem;
    }

    .event {
        padding: 0.75rem;
        width: calc(100% - 4rem);
        margin-bottom: 2rem;
        margin-left: 2rem;
    }

    .event:last-child {
        margin-bottom: 0;
    }

    .event:nth-child(even) {
        margin-right: initial;
    }

    .event:nth-child(odd) {
        margin-left: 2rem;
    }

    .event:nth-child(even)::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -2rem;
        height: 0;
        width: 0;
        border: 1rem solid transparent;
        border-right: 1rem solid #ff8585;
    }
}
