@import url('https://fonts.googleapis.com/css?family=Cardo');

#edit-app {
    padding: 0;
    width: 42rem;
    margin: auto;
    margin-bottom: 2rem;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

h1 {
    text-align: center;
}

h1, h2 {
    margin: 1.5rem 0;
}

img {
    width: 100%;
}

label {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0.25rem;
}

textarea, input {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    border: solid 1px #e2e2e2;
    padding: 0.25rem 0.5rem;
}

textarea {
    resize: vertical;
}

button {
    margin-left: 1rem;
    vertical-align: top;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    background: white;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #eee;
}

.banner-image, .event-image {
    margin-top: 1rem;
    width: calc(100% + 2rem);
    margin-left: -1rem;
}

.event {
    padding: 2rem 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    background-color: #f1f1f1;
    position: relative;
}

div {
    margin-bottom: 1rem;
}

.event div {
    padding: 0 1rem;
}

.banner-image {
    margin-top: 1rem;
    width: 100%;
    margin-left: 0;
}

.source {
    display: inline-block;
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.source input {
    width: calc(100% - 2.5rem);
    margin-bottom: 0.25rem;
    padding: 0.1rem 0.25rem;
}

.source button {
    padding: 0.2rem 0.5rem;
    position: absolute;
    margin-top: -1.7rem;
    background-color: #f14747;
    font-weight: bold;
    color: white;
}

.source button:hover {
    background-color: #e24141;
}

span + .add-source {
    display: inline-block;
    background-color: #5ea8e4;
    color: white;
    margin-left: 0;
    padding: 0.5rem 1rem 0.5rem 0.75rem;
}

span + .add-source:hover {
    background-color: #549dd8;
}

.delete-event {
    background-color: #f14747;
    border: none;
    border-radius: 0.25rem;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}

.delete-event:hover {
    background-color: #ffacac;
}

.actions button {
    margin-left: 0;
    margin-right: 1rem;
    padding: 0.75rem 1rem;
    background-color: #eee;
}

.actions button:hover {
    background-color: #ddd;
}

.actions textarea {
    margin-top: 1rem;
    width: 100%;
}
