<head>
    <link rel="stylesheet" href="/builder/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
    <div id="builder-app">
        <builder source="/timeline.json"></builder>
    </div>
    <script type="text/template" id="builder-template">
        <div>
            <h1>Tempus Timeline Builder</h1>
            <div>
                <label>Title</label>
                <input type="text" v-model=timeline.title :value=timeline.title></input>
            </div>
            <div>
                <label>Banner</label>
                <input type="text" v-model=timeline.banner :value=timeline.banner></input>
                <br>
                <img class="banner-image" :src=timeline.banner></img>
            </div>
            <div>
                <label>Primary Color</label>
                <input type="color" v-model=timeline.primaryColor :value=timeline.primaryColor></input>
            </div>
            <div>
                <label>Secondary Color</label>
                <input type="color" v-model=timeline.secondaryColor :value=timeline.secondaryColor></input>
            </div>
            <div>
                <label>Text Color</label>
                <input type="color" v-model=timeline.color :value=timeline.color></input>
            </div>
            <div>
                <label>Line Color</label>
                <input type="color" v-model=timeline.lineColor :value=timeline.lineColor></input>
            </div>
            <div>
                <label>Details</label>
                <input type="text" v-model=timeline.details></input>
            </div>
            <h2>Events</h2>
            <div class="event" v-for="(event, eventIndex) in timeline.events">
                <button v-on:click="deleteEvent(eventIndex)" class="delete-event">&times;</button>
                <div>
                    <label>Headline</label>
                    <input type="text" v-model=event.headline :value=event.headline placeholder="Enter headline"></input>
                </div>
                <div>
                    <label>Date</label>
                    <input type="date" v-model=event.date :value=event.date></input>
                </div>
                <div>
                    <label>Image</label>
                    <input type="text" v-model=event.image :value=event.image placeholder="Enter Image URL"></input>
                    <br>
                    <img class="event-image" :src=event.image></img>
                </div>
                <div>
                    <label>Description</label>
                    <textarea rows="3" v-model=event.description placeholder="Enter optional description">{{event.description}}</textarea>
                </div>
                <div class="sources">
                    <label>Sources</label>
                    <span v-for="(source, sourceIndex) of event.sources" class="source">
                        <input type="text" class="name" v-model="event.sources[sourceIndex].name" :value=source placeholder="Enter Source Name"></input>
                        <input type="text" class="link" v-model="event.sources[sourceIndex].link" :value=source placeholder="Enter Link"></input>
                        <button v-on:click="deleteSource(eventIndex, sourceIndex)">&times;</button>
                    </span>
                    <button v-on:click="addSource(eventIndex)" class="add-source">&#43; New Source</button>
                </div>
            </div>
            <div class="actions">
                <button v-on:click="addEvent">Add New Timeline Event</button>
                <button v-on:click="saveTimeline">Save Timeline</button>
            </div>
        </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
    <script src="/builder/javascript.js"/></script>
</body>
