<head>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
    <div id="builder-app">
        <builder source="/timeline.json"></builder>
    </div>
    <script type="text/template" id="builder-template">
        <div>
            <h1>Tempus Timeline Builder</h1>
            <div>
                <label>Title:</label>
                <input type="text" v-model=timeline.title :value=timeline.title></input>
            </div>
            <div>
                <label>Banner:</label>
                <input type="text" v-model=timeline.banner :value=timeline.banner></input>
                <br>
                <img class="banner-image" :src=timeline.banner></img>
            </div>
            <div>
                <label>Primary:</label>
                <input type="color" v-model=timeline.primaryColor :value=timeline.primaryColor></input>
            </div>
            <div>
                <label>Secondary:</label>
                <input type="color" v-model=timeline.secondaryColor :value=timeline.secondaryColor></input>
            </div>
            <div>
                <label>Text Color:</label>
                <input type="color" v-model=timeline.color :value=timeline.color></input>
            </div>
            <div>
                <label>Line Color:</label>
                <input type="color" v-model=timeline.lineColor :value=timeline.lineColor></input>
            </div>
            <div>
                <label>Details:</label>
                <textarea rows="2" v-model=timeline.details></textarea>
            </div>
            <h2>Events</h2>
            <div class="event" v-for="(event, eventIndex) in timeline.events">
                <div>
                    <label>Date:</label>
                    <input type="date" v-model=event.date :value=event.date></input>
                </div>
                <div>
                    <label>Headline:</label>
                    <input type="text" v-model=event.headline :value=event.headline placeholder="Enter headline"></input>
                </div>
                <div>
                    <label>Image:</label>
                    <input type="text" v-model=event.image :value=event.image placeholder="Enter Image URL"></input>
                    <br>
                    <img class="event-image" :src=event.image></img>
                </div>
                <div>
                    <label>Description:</label>
                    <textarea rows="5" v-model=event.description placeholder="Enter description">{{event.description}}</textarea>
                </div>
                <div class="sources">
                    <label>Sources:</label>
                    <span v-for="(source, sourceIndex) of event.sources" class="source">
                        <input type="text" class="name" v-model="event.sources[sourceIndex].name" :value=source placeholder="Enter Name"></input>
                        <input type="text" class="link" v-model="event.sources[sourceIndex].link" :value=source placeholder="Enter Link"></input>
                        <button v-on:click="deleteSource(eventIndex, sourceIndex)">X</button>
                    </span>
                    <button v-on:click="addSource(eventIndex)" class="add-source">Add New Source</button>
                </div>
                <button v-on:click="deleteEvent(eventIndex)" class="delete-event">Delete Timeline Event</button>
            </div>
            <div class="actions">
                <button v-on:click="addEvent">Add New Timeline Event</button>
                <button v-on:click="saveTimeline">Save Timeline</button>
                <button v-on:click="loadTimeline">Load Timeline</button>
                <textarea rows="50" v-model=output></textarea>
            </div>
        </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
    <script src="javascript.js"/></script>
</body>
