@import url('https://fonts.googleapis.com/css?family=Cardo');

#builder-app {
    padding: 0;
    width: 40rem;
    margin: auto;
    margin-bottom: 5rem;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

h1 {
    text-align: center;
}

h1, h2 {
    margin: 1.5rem 0;
}

img {
    width: 100%;
}

label {
    width: 7rem;
    display: inline-block;
    vertical-align: top;
}

textarea {
    font-family: "Open Sans", sans-serif;
    margin-left: -4px;
    width: 30rem;
    resize: vertical;
}

input {
    width: 30rem;
    font-family: "Open Sans", sans-serif;
    margin-left: -4px;
}

button {
    margin-left: 1rem;
    vertical-align: top;
    border: solid 1px lightgray;
    padding: 0.5rem 1rem;
    background: white;
    cursor: pointer;
}

button:hover 

.banner-image, .event-image {
    margin-left: 7rem;
    margin-top: 1rem;
    width: 30rem;
}

.event {
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
    border: solid 1px #d4d4d4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

div {
    margin-bottom: 1rem;
}

.event div {
    padding-left: 1rem;
}

.source {
    float: right;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

.source input {
    width: 27rem;
}

.source button {
    padding: 0.25rem 1rem;
    margin-left: 0;
}

.add-source {
    margin-left: -4px;
}

span + .add-source {
    margin-left: 7rem;
    display: inline-block;
}

.delete-event {
    background-color: #ffe7e7;
    border: solid 1px #ffa3a3;
    margin-top: 1rem;
}

.actions {
    padding: 1rem 0 2rem 2rem;
    background-color: #d7ecff;
    margin-bottom: 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.actions button {
    margin-left: 0;
    margin-right: 1rem;
}

.actions textarea {
    margin-top: 1rem;
    width: 36rem;
    margin-left: 1px;
}
