@import url('https://fonts.googleapis.com/css?family=Cardo');

body {
    margin: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

h1 {
    margin: 0.5rem 0
}

img {
    width: 100%;
}

label {
    width: 12rem;
    display: inline-block;
    vertical-align: top;
}

textarea {
    font-family: "Open Sans", sans-serif;
}

input {
    width: 30rem;
    font-family: "Open Sans", sans-serif;
}

.event {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

div {
    margin-bottom: 1rem;
}

hr {
    margin-top: 1rem;
}

@media screen and (max-width: 50rem) {

}
