@import url('https://fonts.googleapis.com/css?family=Cardo');

#builder-app {
    padding: 0;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

h1 {
    margin: 0.5rem 0;
    padding-left: 0.5rem;
}

img {
    width: 100%;
}

label {
    width: 12rem;
    display: inline-block;
    vertical-align: top;
}

textarea {
    font-family: "Open Sans", sans-serif;
}

input {
    width: 30rem;
    font-family: "Open Sans", sans-serif;
}

button {
    margin-left: 2rem;
    vertical-align: top;
}

.event {
    padding: 1rem 0;
    margin-bottom: 0;
}

.event:nth-child(even) {
    background-color: white;
}

.event:nth-child(odd) {
    background-color: #f5f5f5;
}

div {
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.new-event {
    margin-top: 1rem;
    padding-left: 0
}

.output button {
    margin-left: 0;
    margin-right: 1rem;
}

.output textarea {
    margin-top: 1rem;
}

@media screen and (max-width: 50rem) {

}
